# streamlit
# pandas
# numpy
# scikit-learn
# xgboost
# # statsmodels
# matplotlib
# seaborn
# sympy
# Pillow
# # langchain
# openai
# # langchain-community
# # langchain-experimental
# tabulate


# tqdm
# requests
# python-dotenv
# pytesseract

# statsmodels==0.13.5
# scipy==1.10.1

pandas
numpy
scikit-learn
xgboost
statsmodels==0.13.5
scipy==1.10.1
matplotlib
seaborn
sympy
Pillow
openai
tabulate
tqdm
requests
python-dotenv
pytesseract
# langchain-community
langchain-experimental
tensorflow>=2.0.0

plotly==5.19.0
mlxtend


# streamlit
# torch==2.2.1
# transformers==4.40.1

# ctransformers
# faiss-cpu
# sentence-transformers



sentence-transformers
transformers>=4.37.0
torch==2.1.2+cpu
faiss-cpu
ctransformers
--extra-index-url https://download.pytorch.org/whl/cpu

faiss-cpu==1.7.4 
plotly>=5.0.0
